<h1>话题列表</h1>


<table>
  <thead>
    <tr>
      <th>标题</th>
      <th>内容</th>
      <th>所属板块</th>
      <th>用户</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.body %></td>
        <td><%= topic.category %></td>
        <td><%= topic.user %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建子话题', new_topic_path %>
