
<%#= simple_form_for @post do |f|
-#  = f.input :title
-#  = f.file_field :image
-#  = f.input :content
-#  = f.submit%>
<%#= simple_form_for @post do |f|%>
<%#= f.file_field :image %>
<%#= f.submit%>

<%# end %>

<link media="all" rel="stylesheet" type="text/css" href="simditor/styles/font-awesome.css" />
<link media="all" rel="stylesheet" type="text/css" href="simditor/styles/simditor.css" />

<script type="text/javascript" src="simditor/scripts/jquery.min.js"></script>
<script type="text/javascript" src="simditor/scripts/module.js"></script>
<script type="text/javascript" src="simditor/scripts/uploader.js"></script>
<script type="text/javascript" src="simditor/scripts/simditor.js"></script>





<div class="sky-form">

  <%= form_for [@cat,@topic,@post] ,html: { multipart: true },:html => { :class => 'form-horizontal', :role => "form" } do |f| %>
      <%#= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <fieldset>
        <section>
          <label class="label"><strong><%= t('posts.biaoti') %></strong></label>
          <p>发帖</p>
          <label class="input"><%= f.text_field :biaoti,placeholder: "标题（必填哦）..."%></label>
        </section>
        图片上传
        <%= f.file_field :image  %>
        <section>
          <label class="label"><strong><%= t('posts.body') %></strong></label>
          <%= f.text_field :body,:type => 'hidden' %>
        </section>


        <section class="pull-right">
          <%= f.label :文件名 %>
          <%= f.text_field :fujianname %>
          <%= f.label :附件上传 %>
          <%= f.file_field :attachment %>
          <%= f.submit %>
        </section>
      </fieldset>
  <% end %>

</div>

<div class='editor-style'>
  <!-- 这里是simditor产生的html -->

<script type="text/javascript">

    var editor = new Simditor({


        textarea: post_body,
        toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough','image', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table','link', '|','hr','indent','outdent','alignment','fullscreen'],
        placeholder: '这里输入文字...',
        pasteImage: true,
        fileKey: 'file',
        upload: {
            url: '/posts',
            params: null,
            connectionCount: 3,
            leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'
        }
    });
</script>
</div>
