<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />

<%= link_to "上传新文件", new_resume_path, class: "btn btn-success" %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thead>.
  <tr>
    <th>文件名</th>
    <th>下载链接</th>
    <th> 选项</th>
  </tr>
  </thead>

  <tbody>
  <% @resumes.each do |resume| %>

      <tr>
        <td><%= resume.name %></td>
        <td><%= link_to "浏览下载", resume.attachment_url %></td>
        <td><%= link_to "删除",  resume, method: :delete, class: "btn btn-success", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
      </tr>

  <% end %>
  </tbody>

</table>
